<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MentoringMapper">

<resultMap type="prolist" id="prolistMap">
	<result column="i_num" 	property="iNum"/>
	<result column="i_path"	property="iPath"/>
	<result column="p_num"	property="pNum"/>
	<result column="p_div"	property="pDiv"/>
	<result column="p_title"	property="pTitle"/>
	<result column="p_content"	property="pContent"/>
	<result column="p_category"	property="pCategory"/>
</resultMap>

<resultMap type="applylist" id="applylistMap">
	<result column="a_num" 	property="aNum"/>
	<result column="u_id"	property="uId"/>
	<result column="p_num"	property="pNum"/>
	<result column="p_title"	property="pTitle"/>
	<result column="p_content"	property="pContent"/>
	<result column="i_num"	property="iNum"/>
	<result column="i_path"	property="iPaths"/>
</resultMap>

<!-- # : PreparedStateMent형식, $ : Statement형식 -->

<insert id="insertImage" parameterType="image">
	INSERT INTO imagemento
	VALUES(seq_image_num.nextval, seq_project_num.currentval, #{fileName}, #{realPath}, #{fileSize})
</insert>

<!-- 회원 삽입 -->
<insert id="insertUser" parameterType="User">
	INSERT INTO USERMENTO  
	VALUES(#{uId}, #{uName}, #{uPass}, #{uPhone}, #{uAddr})
</insert>

<!-- # : PreparedStateMent형식, $ : Statement형식 -->
<select id="confirmLogin" parameterType="User" resultType="User">
	select u_id, u_pass from usermento 
    where u_id = #{uId} AND u_pass = #{uPass}  
</select>

<select id="selectProjectList" parameterType="hashmap" resultMap="prolistMap">
   SELECT i.i_num i_num, i.i_path i_path, p.p_num p_num, p.p_title p_title, p.p_div p_div, p.p_content p_content, p.p_category p_category
   FROM projectmento p inner join imagemento i
   ON p.p_num = i.p_num
   <where>
      <if test="pDiv != null ">
          p_div = #{pDiv}
      </if>
   </where>
</select>


<select id="selectMyProject" parameterType="hashmap" resultType="project">
	SELECT *
	FROM projectmento
	<where>
		<if test="uId != null">
			 u_id = #{uId}
		</if>
	</where>
</select>


<select id="selectMyApplyPro" parameterType="hashmap" resultMap="applylistMap">
	SELECT a.a_num a_num, a.u_id u_id, p.p_num p_num, p.p_title p_title, p.p_content p_content, i.i_num i_num, i.i_path i_path
	FROM applymento a inner join projectmento p
	on a.p_num = p.p_num
	inner join imagemento i
	on p.p_num = i.p_num
	WHERE a.u_id='hcs' AND a.a_confrim = 'Y'
</select>

<select id="searchUserList" parameterType="hashmap" resultType="user">
	SELECT u.U_NAME u_name, u.U_PHONE u_phone
	FROM applymento a inner join usermento u
	ON a.U_ID = u.U_ID
	WHERE p_num = #{pNum}
</select>





</mapper>