<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MentoringMapper">

<insert id="insertMentoring" parameterType="project">
	INSERT INTO comment_tab
	VALUES(#{commentNo}, #{userId}, #{commentContent}, sysdate)
</insert>
<!-- # : PreparedStateMent형식, $ : Statement형식 -->

<insert id="insertImage" parameterType="image">
	INSERT INTO imagemento
	VALUES(seq_image_num.nextval, seq_project_num.currentval, #{fileName}, #{realPath}, #{fileSize})
</insert>
<!-- # : PreparedStateMent형식, $ : Statement형식 -->
<select id="confirmLogin" parameterType="User" resultType="User">
	select u_id, u_pass from usermento 
    where u_id = #{uId} AND u_pass = #{uPass}  
</select>


</mapper>